<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
<!--    <link rel="stylesheet" href="style.css">-->
</head>
<body>
<h1>Студенческая группа</h1>
<p>Мы занимаемся изучением разработки высококачественного программного обеспечения, и надеемся устроиться на работу))</p>
<h2>Наша команда:</h2>
<ul>
    <li>Веренич Татьяна - главный разработчик</li>
    <li>Веренич Татьяна - тестировщик</li>
    <li>Веренич Татьяна - менеджер проекта</li>
</ul>
<h2>Преподаватель:</h2>
<h3>Андрей Голиков</h3>
</body>
</html>